<launch>
  <arg name="start_twist_controller" default="false" />
  <arg name="auto_zero_ft" default="true" />

  <rosparam command="load" file="$(find usb_c_insertion)/config/topics.yaml" />
  <rosparam command="load" file="$(find usb_c_insertion)/config/frames.yaml" />
  <include file="$(find usb_c_insertion)/launch/clear_legacy_params.launch" />
  <rosparam command="load" file="$(find usb_c_insertion)/config/insertion_params.yaml" />

  <node if="$(arg start_twist_controller)"
        pkg="usb_c_insertion"
        type="twist_controller_node.py"
        name="usb_c_insertion_twist_controller"
        output="screen" clear_params="true">
  </node>

  <node pkg="usb_c_insertion"
        type="extract_cable.py"
        name="usb_c_insertion_extract_cable"
        output="screen" clear_params="true">
    <param name="auto_zero_ft" value="$(arg auto_zero_ft)" />
  </node>
</launch>
