<?xml version="1.0"?>
<launch>
    <rosparam command="load" file="$(find usb_c_insertion)/config/frames.yaml"/>
    <rosparam command="load" file="$(find usb_c_insertion)/config/topics.yaml"/>
    <rosparam command="load" file="$(find usb_c_insertion)/config/insertion_params.yaml"/>

    <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch">
        <arg name="robot_ip" value="ur"/>
        <arg name="kinematics_config" value="$(find usb_c_insertion)/config/ur5e_robot_calibration.yaml"/>
    </include>

    <node
        pkg="tf"
        type="static_transform_publisher"
        name="zed_camera_static_tf"
        args="0.05518032 -0.02546427 0.08955836 -0.00491662 0.00887975 0.70394300 0.71018394 tool0 zedm_left_camera_optical_frame 100"/>

    <node
        pkg="tf"
        type="static_transform_publisher"
        name="usb_c_zed_camera_static_tf"
        args="0.05518032 -0.02546427 0.08955836 -0.00491662 0.00887975 0.70394300 0.71018394 tool0 usb_c_zedm_left_camera_optical_frame 100"/>

    <node
        name="usb_c_insertion_twist_controller"
        pkg="usb_c_insertion"
        type="twist_controller_node.py"
        output="screen"/>

    <node
        name="usb_c_insertion_micro_move_action_server"
        pkg="usb_c_insertion"
        type="micro_move_action_server.py"
        output="screen"/>

    <node
        name="usb_c_insertion_pose_servo"
        pkg="usb_c_insertion"
        type="pose_servo_node.py"
        output="screen"/>

    <node name="camera_pose_publisher" pkg="usb_c_insertion" type="camera_pose_publisher.py" output="screen">
        <param name="camera_frame" value="usb_c_zedm_left_camera_optical_frame"/>
        <param name="topics/camera_pose_debug" value="/usb_c_insertion/camera_pose"/>
        <param name="camera_pose_publish_rate" value="10.0"/>
    </node>

    <node name="enable_ur" pkg="usb_c_insertion" type="enable_ur.py" output="screen">
        <param name="startup_timeout" value="10.0"/>
    </node>

</launch>
