<launch>
  <rosparam command="load" file="$(find usb_c_insertion)/config/topics.yaml" />
  <rosparam command="load" file="$(find usb_c_insertion)/config/frames.yaml" />
  <rosparam command="load" file="$(find usb_c_insertion)/config/insertion_params.yaml" />

  <node pkg="usb_c_insertion"
        type="preinsert_alignment_workflow.py"
        name="usb_c_insertion_preinsert_alignment_workflow"
        output="screen" clear_params="true">
  </node>
</launch>
