<launch>
  <arg name="image_topic" default="/zedm/zed_node/left/image_rect_color" />
  <arg name="tool_z_direction_sign" default="1.0" />

  <include file="$(find usb_c_insertion)/launch/clear_legacy_params.launch" />

  <rosparam command="load" file="$(find usb_c_insertion)/config/insertion_params.yaml" />

  <node pkg="usb_c_insertion"
        type="tools/debug/scripts/send_verify_looming_goal.py"
        name="usb_c_insertion_verify_looming_goal_client"
        output="screen" clear_params="true">
    <param name="image_topic" value="$(arg image_topic)" />
    <param name="tool_z_direction_sign" value="$(arg tool_z_direction_sign)" />
  </node>
</launch>
